.lens-website-title {
	font-family: 'GTAmericaExpandedBold';
	font-size: 22px;
	margin-bottom: 0px;
}

.lens-website-subtitle {
	font-family: 'GTAmericaRegular';
	font-size: 16px;
	margin-bottom: 15px;
}

.lens-journal-links {
	font-family: 'GTAmericaRegular';
	font-size: 12px;
	margin-bottom: 0px;
}

.lens-journal-links a {
	color: black;
	text-decoration: none;
}

.lens-journal-links a:hover {
	color: blue;
}

.lens-journal-links .lens-journal-links-selected {
	font-family: "GTAmericaMedium";
	text-decoration: underline;
}

.photojournal-title {
	margin-bottom: 10px;
}

.photojournal-metadata{
	font-size: 10px;
	margin-bottom: 0px;
}

.photojournal-description {
	margin-top: 2%;
	margin-bottom: 2%;
}

.full-width {
	width: 100%
}

.photojournal-image-caption{
	font-family: 'GTAmericaMedium';
	font-size: 14px;
	margin-top: 1%;
	margin-bottom: 0px;
}

.photojournal-image-subcaption{
	font-family: 'GTAmericaRegular';
	font-size: 12px;
	margin-bottom: 4%;
}

.lens-journal-link-category{
	font-family: 'GTAmericaMedium';
	font-size: 12px;
	margin-bottom: 0px;
}

.lens-journal-footer{
	font-family: 'GTAmericaRegular';
	font-size: 10px;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}
