{% macro footer(ANVIL_CURRENT_FILENAME) %}
<div class="row">
    <div class="twelve column">
      <p class="lens-journal-footer">
          Generated using <a href="https://github.com/rsaber/anvil" target="_blank">Anvil</a> - a dead simple static site generator.
          Get the source of this page <a href="https://github.com/rsaber/riyasat/blob/master/{{ANVIL_CURRENT_FILENAME}}" target="_blank">here</a>. 
          <br>
          Made with ♥ in either Sydney or London.
      </p>
    </div>
</div>
{% endmacro %}
