{% macro image(link, caption, subcaption) %}
  {# <div class="container u-full-width u-max-full-width"> #}
  <div class="container">
        <img class="lens-journal-full-width" src="{{link}}" loading="lazy">
  </div>
  <div class="container">
    <div class="row">
        <p class="lens-journal-image-caption">{{caption}}</p>
        <p class="lens-journal-image-subcaption">{{subcaption}}</p>
    </div>
  </div>
{% endmacro %}
