<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/lens.css">

  <link rel="icon" type="image/png" href="images/favicon.png"> 
</head>

<body>
    {% from "components/header.jinja" import header %}
    {% from "components/title.jinja" import title %}
    {% from "components/footer.jinja" import footer %}

    <div class="container">

      {{ header(ANVIL_CURRENT_FILENAME, ANVIL_FILENAME_MAPPINGS, navbar.title, navbar.subtitle, navbar.categories) }}

      {% if type == "photojournal" %}
          {% from "article_types/photojournal.jinja" import photojournal %}

          {{ title(contents.title, (contents.entries|length) ~ " Photos", contents.camera, contents.date, contents.description) }}
          {{ photojournal(contents.entries)}}
      {% elif type == "article" %}
          {% from "article_types/article.jinja" import article %}
        
          {% if contents.title is defined %}
          {{ title(contents.title, "", "", contents.date, "") }}
          {% endif %}
          {{ article(contents.markdown) }}
      {% endif %}

      {{ footer(ANVIL_CURRENT_FILENAME) }}

    </div>
</body>
</html>

