{% macro image(link, caption, subcaption) %}
  <div class="row">
    <div class="twelve column">
      <img class="full-width" src="{{link}}" loading="lazy">
    </div>
  </div>
  <div class="row">
    <div class="twelve column">
      <p class="photojournal-image-caption">
      {% if caption %}
        {{caption}}
      {% endif %}
      </p>
      <p class="photojournal-image-subcaption">
      {% if subcaption %}
        {{subcaption}}
      {% endif %}
      </p>
    </div>
  </div>
{% endmacro %}
