{% macro text(title, contents) %}
<div class="row">
    <div class="twelve column" style="margin-top: 1%">
        <h5 class="lens-journal-text-title">{{ title }}</h5>
        <p class="lens-journal-text-entry">
            {% markdown %}
                {{ contents }}
            {% endmarkdown %}
        </p>
    </div>
</div>
{% endmacro %}
